body, main {
    display: flex; /* Make both body and main flex containers */
  }
  
  body {
    flex-direction: column; /* Stack elements in body vertically */
  }
  
  main {
    flex-direction: row; /* Arrange elements in main horizontally */
    flex: auto; /* Allow main to fill remaining space */
  }
  .logo {
    font-size: 4em; /* Adjust font size as desired */
    color: #ff7300; /* Change color as desired */
  }
  
  article {
    flex: 2; /* Allocate 2/3 of space to article */
    overflow-y: auto; /* Allow vertical scrolling within article */
  }
  
  aside {
    flex: 1; /* Allocate 1/3 of space to aside */
    overflow-y: auto; /* Allow vertical scrolling within aside */
  }
  