*{
  margin: auto;
  padding: auto;
}

body {
  background-image: url;

}

header, nav{
  padding: 2%;
}
          nav{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
              }
      
              nav ul {
                  display: flex;
                  list-style: none;
              }
      
              nav ul li {
                  margin-right: 20px;
              }
      
             
      
              nav,ul,li, a {
                  text-decoration: none;
                  color: white;
                  font-size: 0.99em;
                  transition: color 0.3s ease-in-out;
                  font-family: ;
              }